
/* Background gradient created using the following colour codes */
.background1 {
  background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);}

/* Box shadow shading to be used with Popup Alert menu's in line with Javascript alert prompts */
/*.box-shadow {
  box-shadow:  2.4px 4.4px 4.3px rgba(0, 0, 0, 0.098)
  6px 11.2px 10.8px rgba(0, 0, 0, 0.171)
  12.2px 22.9px 22px rgba(0, 0, 0, 0.234)
  25.2px 47.1px 45.3px rgba(0, 0, 0, 0.293)
  69px 129px 124px rgba(0, 0, 0, 0.37) 
}
/*.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .item{
  flex: 1;
  margin: 10px;
  padding: 10px;
}