/* body{
    background-image: linear-gradient(to left top, #ee72f1, #9d9fff, #09bdff, #00cfff, #39dae4);
}
*/

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to left top, #f362f8, #979fff, #00c5ff, #00deff, #61edf4);
}

