{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block content %}
<html>
<body>
    <div class="container">
        <h1>Movie List</h1>
        <form>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter movie title">
            </div>
            <form class="d-flex">
              <input class="border border-3 border-top-0 border-start-0 border-end-0" type="search" placeholder="Search"
                aria-label="Search" style=" outline: none;">
              <button class="btn btn-primary" type="submit">Search </button>
            </form>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>

{% endblock %}
